In [1]:
#Q1: Which countries are most users based in?

#Q2: Do more likes, subscribers, and comments lead to more views for a video?

#Q3: Which videos led to higher subscriber count?

#Q4: What are the most common keywords used in video titles?

In [2]:
#Import essential ibraries and load data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os
os.getcwd()

'/Users/kioshi/Desktop/Me/Python/Projects/ken_jee_youtube_data'

In [3]:
#Load 4 individual csv files
df_agg_country_subs = pd.read_csv('Aggregated_Metrics_By_Country_And_Subscriber_Status.csv')
df_agg_vid_metrics = pd.read_csv('Aggregated_Metrics_By_Video.csv')
df_all_comm = pd.read_csv('All_Comments_Final.csv')
df_vid_perf_ovt = pd.read_csv('Video_Performance_Over_Time.csv')

In [4]:
#Lets do an EDA on 'df_agg_country_subs' to try to answer Q1
#Check data
df_agg_country_subs

,Video Title,External Video ID,Video Length,Thumbnail link,Country Code,Is Subscribed,Views,Video Likes Added,Video Dislikes Added,Video Likes Removed,User Subscriptions Added,User Subscriptions Removed,Average View Percentage,Average Watch Time,User Comments Added
0,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,HK,True,23,1,0,0,2,0,0.671870,39.640348,0
1,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,ME,True,3,0,0,0,0,0,0.498870,29.433333,0
2,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,RW,True,2,0,0,0,0,0,0.681780,40.225000,0
3,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,US,True,979,81,6,8,16,4,0.694854,40.996389,0
4,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,DE,False,75,3,0,1,0,0,0.661515,39.029373,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55287,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,MM,False,1,0,0,0,0,0,0.622642,33.000000,0
55288,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,SA,True,14,1,0,0,0,0,0.515569,27.325143,0
55289,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,DZ,False,2,0,0,0,0,0,0.782075,41.450000,0
55290,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,MX,False,11,0,0,0,0,0,0.636178,33.717455,0
55291,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,SR,True,1,0,0,0,0,0,0.985679,52.241000,0

In [5]:
#Rename columns to lower case & underscore to make it easier to code
rename = {'Video Title':'video_title', 'External Video ID':'external_video_id', 'Video Length':'video_length', 
          'Thumbnail link':'thumbnail_link', 'Country Code':'country_code', 'Is Subscribed':'is_subscribed', 'Views':'views', 
          'Video Likes Added':'video_likes_added', 'Video Dislikes Added':'video_dislikes_added', 'Video Likes Removed':'video_likes_removed', 
         'User Subscriptions Added':'user_subscriptions_added', 'User Subscriptions Removed':'user_subscriptions_removed', 
         'Average View Percentage':'average_view_percentage', 'Average Watch Time':'average_watch_time', 'User Comments Added':'user_comments_added'}
df_agg_country_subs = df_agg_country_subs.rename(columns=rename)
df_agg_country_subs

,video_title,external_video_id,video_length,thumbnail_link,country_code,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
0,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,HK,True,23,1,0,0,2,0,0.671870,39.640348,0
1,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,ME,True,3,0,0,0,0,0,0.498870,29.433333,0
2,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,RW,True,2,0,0,0,0,0,0.681780,40.225000,0
3,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,US,True,979,81,6,8,16,4,0.694854,40.996389,0
4,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,DE,False,75,3,0,1,0,0,0.661515,39.029373,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55287,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,MM,False,1,0,0,0,0,0,0.622642,33.000000,0
55288,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,SA,True,14,1,0,0,0,0,0.515569,27.325143,0
55289,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,DZ,False,2,0,0,0,0,0,0.782075,41.450000,0
55290,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,MX,False,11,0,0,0,0,0,0.636178,33.717455,0
55291,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,SR,True,1,0,0,0,0,0,0.985679,52.241000,0

In [6]:
#Check data types
df_agg_country_subs.dtypes

video_title                    object
external_video_id              object
video_length                    int64
thumbnail_link                 object
country_code                   object
is_subscribed                    bool
views                           int64
video_likes_added               int64
video_dislikes_added            int64
video_likes_removed             int64
user_subscriptions_added        int64
user_subscriptions_removed      int64
average_view_percentage       float64
average_watch_time            float64
user_comments_added             int64
dtype: object

In [7]:
#Get description of each column
df_agg_country_subs.describe()

,video_length,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
count,55292.000000,55292.000000,55292.000000,55292.000000,55292.000000,55292.000000,55292.000000,53854.000000,53854.000000,55292.0
mean,896.678073,100.573157,4.239311,0.106055,0.175577,2.365279,0.053389,0.347821,205.297156,0.0
std,927.380801,1704.966002,65.291451,2.507351,3.601171,65.889539,0.766945,0.259734,206.542106,0.0
min,47.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,375.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.145948,85.442891,0.0
50%,545.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.320983,170.139725,0.0
75%,934.000000,27.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.486153,259.449958,0.0
max,5029.000000,285593.000000,9165.000000,399.000000,436.000000,9599.000000,103.000000,4.967797,5027.660000,0.0

In [8]:
#Find Null values
df_agg_country_subs.isnull().sum()

video_title                      0
external_video_id                0
video_length                     0
thumbnail_link                   0
country_code                   386
is_subscribed                    0
views                            0
video_likes_added                0
video_dislikes_added             0
video_likes_removed              0
user_subscriptions_added         0
user_subscriptions_removed       0
average_view_percentage       1438
average_watch_time            1438
user_comments_added              0
dtype: int64

In [9]:
#Display and analyze Null values in detail
df_null = df_agg_country_subs[df_agg_country_subs.isnull().any(axis='columns')]
df_null.head(10)

,video_title,external_video_id,video_length,thumbnail_link,country_code,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
103,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,NaN,True,1,0,0,0,0,0,0.071864,4.240,0
183,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,PR,False,0,0,0,0,0,0,NaN,NaN,0
193,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,NaN,False,0,0,0,0,0,0,NaN,NaN,0
211,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,EE,False,0,0,0,0,0,0,NaN,NaN,0
264,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,ME,False,0,0,0,0,0,0,NaN,NaN,0
274,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,NaN,False,0,0,0,0,0,0,NaN,NaN,0
364,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,PA,False,0,0,0,0,0,0,NaN,NaN,0
380,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,NaN,True,1,0,0,0,0,0,0.052855,20.719,0
437,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,IM,False,0,0,0,0,0,0,NaN,NaN,0
454,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,CU,False,0,0,0,0,0,0,NaN,NaN,0

In [10]:
#Examining the null values, we see inconsistency where there's null for 'Country Code', but values for 'Average View Percentage' & 'Average Watch Time' and vice versa.

#To have valid insights, we will drop the row if it has null values in all three columns mentioned above & create another df with null values from country code removed
df_notna = df_null.dropna(thresh=13)
df_notna.head(10)

,video_title,external_video_id,video_length,thumbnail_link,country_code,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
103,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,NaN,True,1,0,0,0,0,0,0.071864,4.240,0
183,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,PR,False,0,0,0,0,0,0,NaN,NaN,0
211,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,EE,False,0,0,0,0,0,0,NaN,NaN,0
264,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,ME,False,0,0,0,0,0,0,NaN,NaN,0
364,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,PA,False,0,0,0,0,0,0,NaN,NaN,0
380,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,NaN,True,1,0,0,0,0,0,0.052855,20.719,0
437,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,IM,False,0,0,0,0,0,0,NaN,NaN,0
454,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,CU,False,0,0,0,0,0,0,NaN,NaN,0
462,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,HN,False,0,0,0,0,0,0,NaN,NaN,0
481,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,CI,False,0,0,0,0,0,0,NaN,NaN,0

In [11]:
df_notna_country = df_null.dropna(subset=['country_code'])
df_notna_country.head(10)

,video_title,external_video_id,video_length,thumbnail_link,country_code,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
183,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,PR,False,0,0,0,0,0,0,NaN,NaN,0
211,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,EE,False,0,0,0,0,0,0,NaN,NaN,0
264,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,ME,False,0,0,0,0,0,0,NaN,NaN,0
364,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,PA,False,0,0,0,0,0,0,NaN,NaN,0
437,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,IM,False,0,0,0,0,0,0,NaN,NaN,0
454,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,CU,False,0,0,0,0,0,0,NaN,NaN,0
462,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,HN,False,0,0,0,0,0,0,NaN,NaN,0
481,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,CI,False,0,0,0,0,0,0,NaN,NaN,0
496,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,YE,False,0,0,0,0,0,0,NaN,NaN,0
816,Why is Balance Important in Data Science?,3ysXGYjvbSU,238,https://i.ytimg.com/vi/3ysXGYjvbSU/hqdefault.jpg,ZZ,False,0,0,0,0,0,0,NaN,NaN,0

In [12]:
#Verify null values decreased
df_notna.isnull().sum()

video_title                      0
external_video_id                0
video_length                     0
thumbnail_link                   0
country_code                   196
is_subscribed                    0
views                            0
video_likes_added                0
video_dislikes_added             0
video_likes_removed              0
user_subscriptions_added         0
user_subscriptions_removed       0
average_view_percentage       1248
average_watch_time            1248
user_comments_added              0
dtype: int64

In [13]:
#Verify no null values in 'Country Code' column
df_notna_country.isnull().sum()

video_title                      0
external_video_id                0
video_length                     0
thumbnail_link                   0
country_code                     0
is_subscribed                    0
views                            0
video_likes_added                0
video_dislikes_added             0
video_likes_removed              0
user_subscriptions_added         0
user_subscriptions_removed       0
average_view_percentage       1248
average_watch_time            1248
user_comments_added              0
dtype: int64

In [14]:
#Retrieve country names from country abbreviations in 'country_code' column using pycountry library

#Import pycountry
import pycountry

#Define country names 
list_alpha_2 = [i.alpha_2 for i in list(pycountry.countries)]
list_alpha_3 = [i.alpha_3 for i in list(pycountry.countries)]

def c_names(df_notna_country):
    if (len(df_notna_country['country_code'])==2 and df_notna_country['country_code'] in list_alpha_2):
        return pycountry.countries.get(alpha_2=df_notna_country['country_code']).name
    elif (len(df_notna_country['country_code'])==3 and df_notna_country['country_code'] in list_alpha_3):
        return pycountry.countries.get(alpha_3=df_notna_country['country_code']).name
    else:
        return 'Invalid Code'

#Put back into df_notna_country
df_notna_country['country_name'] = df_notna_country.apply(c_names, axis=1)
df_notna_country

/var/folders/y8/3yf_22bs15n8ztp6_klc90w00000gn/T/ipykernel_2405/3912612969.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_notna_country['country_name'] = df_notna_country.apply(c_names, axis=1)

,video_title,external_video_id,video_length,thumbnail_link,country_code,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added,country_name
183,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,PR,False,0,0,0,0,0,0,NaN,NaN,0,Puerto Rico
211,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,EE,False,0,0,0,0,0,0,NaN,NaN,0,Estonia
264,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,ME,False,0,0,0,0,0,0,NaN,NaN,0,Montenegro
364,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,PA,False,0,0,0,0,0,0,NaN,NaN,0,Panama
437,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,IM,False,0,0,0,0,0,0,NaN,NaN,0,Isle of Man
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55126,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,TW,False,0,0,0,0,0,0,NaN,NaN,0,"Taiwan, Province of China"
55150,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,NO,False,0,0,0,0,0,0,NaN,NaN,0,Norway
55178,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,KG,False,0,0,0,0,0,0,NaN,NaN,0,Kyrgyzstan
55212,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,BE,False,0,0,0,0,0,0,NaN,NaN,0,Belgium
55249,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,HN,False,0,0,0,0,0,0,NaN,NaN,0,Honduras

In [15]:
#Drop 'country_code' column and place 'country_name' in its place
df_country_names = df_notna_country.drop(['country_code'], axis=1)

df_countries = df_country_names[['video_title', 'external_video_id', 'video_length', 'thumbnail_link', 'country_name', 
                                 'is_subscribed', 'views', 'video_likes_added', 'video_dislikes_added', 'video_likes_removed', 
                                 'user_subscriptions_added', 'user_subscriptions_removed', 'average_view_percentage', 
                                 'average_watch_time', 'user_comments_added']]
df_countries

,video_title,external_video_id,video_length,thumbnail_link,country_name,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
183,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,Puerto Rico,False,0,0,0,0,0,0,NaN,NaN,0
211,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,Estonia,False,0,0,0,0,0,0,NaN,NaN,0
264,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,Montenegro,False,0,0,0,0,0,0,NaN,NaN,0
364,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,Panama,False,0,0,0,0,0,0,NaN,NaN,0
437,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,Isle of Man,False,0,0,0,0,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55126,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,"Taiwan, Province of China",False,0,0,0,0,0,0,NaN,NaN,0
55150,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,Norway,False,0,0,0,0,0,0,NaN,NaN,0
55178,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,Kyrgyzstan,False,0,0,0,0,0,0,NaN,NaN,0
55212,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,Belgium,False,0,0,0,0,0,0,NaN,NaN,0
55249,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,Honduras,False,0,0,0,0,0,0,NaN,NaN,0

In [16]:
#Get count of 'country names' to determine which country had the highest views and lowest views
df_country_views = df_countries.groupby('country_name')['views'].count()
df_country_views

country_name
Afghanistan             19
Albania                  8
Algeria                  5
Andorra                  3
Angola                   8
                        ..
Virgin Islands, U.S.     6
Western Sahara          11
Yemen                    7
Zambia                   3
Zimbabwe                 9
Name: views, Length: 186, dtype: int64

In [17]:
##Countries with highest view count
df_country_views.nsmallest(20)

country_name
Austria                             1
Bahamas                             1
Brazil                              1
Cabo Verde                          1
Denmark                             1
Djibouti                            1
Faroe Islands                       1
Finland                             1
Guinea                              1
Hong Kong                           1
Ireland                             1
Italy                               1
Macao                               1
Mexico                              1
Micronesia, Federated States of     1
Monaco                              1
Morocco                             1
Niger                               1
Philippines                         1
Saint Vincent and the Grenadines    1
Name: views, dtype: int64

In [18]:
#Countries with lowest view count
df_country_views.nlargest(20)

country_name
Montenegro                           30
El Salvador                          28
Estonia                              28
Qatar                                24
Azerbaijan                           22
Venezuela, Bolivarian Republic of    22
Invalid Code                         20
Iran, Islamic Republic of            20
Tanzania, United Republic of         20
Afghanistan                          19
Belarus                              19
Syrian Arab Republic                 19
Kyrgyzstan                           17
Bosnia and Herzegovina               15
Moldova, Republic of                 15
Nicaragua                            15
Sri Lanka                            15
Armenia                              14
Belize                               14
Jamaica                              14
Name: views, dtype: int64

In [19]:
#Invalid Code is present in our 'df_country_views', let's take a closer look at 'Inavlid Code ' rows
df_countries1 = df_countries[(df_countries['country_name'] == 'Invalid Code')]
df_countries1

,video_title,external_video_id,video_length,thumbnail_link,country_name,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
816,Why is Balance Important in Data Science?,3ysXGYjvbSU,238,https://i.ytimg.com/vi/3ysXGYjvbSU/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
3499,Why I Quit Data Science,SVtRsDhHlDk,334,https://i.ytimg.com/vi/SVtRsDhHlDk/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
7265,What It's Like to be a Socially Distanced Data...,lUUqrRgerd8,884,https://i.ytimg.com/vi/lUUqrRgerd8/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
7641,What Does a Data Scientist Actually Do?,XWetgrNas-k,387,https://i.ytimg.com/vi/XWetgrNas-k/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
14668,Sports Analytics 101: The Pythagorean Theorem ...,ZWdyBbgGZBQ,376,https://i.ytimg.com/vi/ZWdyBbgGZBQ/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
16558,Scrape Twitter Data in Python with Twitterscra...,zF_Q2v_9zKY,378,https://i.ytimg.com/vi/zF_Q2v_9zKY/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
18066,Reviewing Your Data Science Projects - Episode...,mR2NCRgtLPE,943,https://i.ytimg.com/vi/mR2NCRgtLPE/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
18199,Reviewing Your Data Science Projects - Episode...,HJH0gfY6EUg,1054,https://i.ytimg.com/vi/HJH0gfY6EUg/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
31467,How to Go From Data Analyst to Data Scientist,EMq4PH7PCeA,403,https://i.ytimg.com/vi/EMq4PH7PCeA/hqdefault.jpg,Invalid Code,True,0,0,0,0,0,0,NaN,NaN,0
33508,How To Learn Programming for Data Science [3 S...,VN12ZPFsApM,486,https://i.ytimg.com/vi/VN12ZPFsApM/hqdefault.jpg,Invalid Code,True,0,0,0,0,0,0,NaN,NaN,0
35069,How I Would Learn Data Science in 2022 (If I H...,xpIFS6jZbe8,734,https://i.ytimg.com/vi/xpIFS6jZbe8/hqdefault.jpg,Invalid Code,True,0,0,0,0,1,0,NaN,NaN,0
35251,How I Would Learn Data Science in 2021 (What H...,41Clrh6nv1s,549,https://i.ytimg.com/vi/41Clrh6nv1s/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
35658,How I Would Learn Data Science (If I Had to St...,4OZip0cgOho,516,https://i.ytimg.com/vi/4OZip0cgOho/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
36854,How I Learned Data Science,n3vw0M5RrPU,806,https://i.ytimg.com/vi/n3vw0M5RrPU/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
41997,"Data Science, Machine Learning, and AI: What's...",q8cEt8gj3zY,266,https://i.ytimg.com/vi/q8cEt8gj3zY/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
43922,Data Science Project from Scratch - Part 2 (Da...,GmW4F6MHqqs,1678,https://i.ytimg.com/vi/GmW4F6MHqqs/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
44121,Data Science Project from Scratch - Part 1 (Pr...,MpF9HENQjDo,448,https://i.ytimg.com/vi/MpF9HENQjDo/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
53497,5 Data Science Resolutions for 2020,iqG59TqfFdY,302,https://i.ytimg.com/vi/iqG59TqfFdY/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
53792,3 Reasons You Should NOT Become a Data Scientist,m5pwx3hgtzM,373,https://i.ytimg.com/vi/m5pwx3hgtzM/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0
54222,3 Proven Data Science Projects for Beginners (...,8igH8qZafpo,454,https://i.ytimg.com/vi/8igH8qZafpo/hqdefault.jpg,Invalid Code,False,0,0,0,0,0,0,NaN,NaN,0

In [20]:
#Let's go back to our original df with 'country_code' column to understand which countries did'nt get converted
df_notna_country[(df_notna_country['country_name'] == 'Invalid Code')]

,video_title,external_video_id,video_length,thumbnail_link,country_code,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added,country_name
816,Why is Balance Important in Data Science?,3ysXGYjvbSU,238,https://i.ytimg.com/vi/3ysXGYjvbSU/hqdefault.jpg,ZZ,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
3499,Why I Quit Data Science,SVtRsDhHlDk,334,https://i.ytimg.com/vi/SVtRsDhHlDk/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
7265,What It's Like to be a Socially Distanced Data...,lUUqrRgerd8,884,https://i.ytimg.com/vi/lUUqrRgerd8/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
7641,What Does a Data Scientist Actually Do?,XWetgrNas-k,387,https://i.ytimg.com/vi/XWetgrNas-k/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
14668,Sports Analytics 101: The Pythagorean Theorem ...,ZWdyBbgGZBQ,376,https://i.ytimg.com/vi/ZWdyBbgGZBQ/hqdefault.jpg,ZZ,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
16558,Scrape Twitter Data in Python with Twitterscra...,zF_Q2v_9zKY,378,https://i.ytimg.com/vi/zF_Q2v_9zKY/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
18066,Reviewing Your Data Science Projects - Episode...,mR2NCRgtLPE,943,https://i.ytimg.com/vi/mR2NCRgtLPE/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
18199,Reviewing Your Data Science Projects - Episode...,HJH0gfY6EUg,1054,https://i.ytimg.com/vi/HJH0gfY6EUg/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
31467,How to Go From Data Analyst to Data Scientist,EMq4PH7PCeA,403,https://i.ytimg.com/vi/EMq4PH7PCeA/hqdefault.jpg,XK,True,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
33508,How To Learn Programming for Data Science [3 S...,VN12ZPFsApM,486,https://i.ytimg.com/vi/VN12ZPFsApM/hqdefault.jpg,XK,True,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
35069,How I Would Learn Data Science in 2022 (If I H...,xpIFS6jZbe8,734,https://i.ytimg.com/vi/xpIFS6jZbe8/hqdefault.jpg,XK,True,0,0,0,0,1,0,NaN,NaN,0,Invalid Code
35251,How I Would Learn Data Science in 2021 (What H...,41Clrh6nv1s,549,https://i.ytimg.com/vi/41Clrh6nv1s/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
35658,How I Would Learn Data Science (If I Had to St...,4OZip0cgOho,516,https://i.ytimg.com/vi/4OZip0cgOho/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
36854,How I Learned Data Science,n3vw0M5RrPU,806,https://i.ytimg.com/vi/n3vw0M5RrPU/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
41997,"Data Science, Machine Learning, and AI: What's...",q8cEt8gj3zY,266,https://i.ytimg.com/vi/q8cEt8gj3zY/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
43922,Data Science Project from Scratch - Part 2 (Da...,GmW4F6MHqqs,1678,https://i.ytimg.com/vi/GmW4F6MHqqs/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
44121,Data Science Project from Scratch - Part 1 (Pr...,MpF9HENQjDo,448,https://i.ytimg.com/vi/MpF9HENQjDo/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
53497,5 Data Science Resolutions for 2020,iqG59TqfFdY,302,https://i.ytimg.com/vi/iqG59TqfFdY/hqdefault.jpg,ZZ,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
53792,3 Reasons You Should NOT Become a Data Scientist,m5pwx3hgtzM,373,https://i.ytimg.com/vi/m5pwx3hgtzM/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
54222,3 Proven Data Science Projects for Beginners (...,8igH8qZafpo,454,https://i.ytimg.com/vi/8igH8qZafpo/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code

In [21]:
#Quick Google search tells us 'ZZ' is unknown_unspecified country' and XK is for the country 'Sao Tome and Principe'

#Drop ZZ from 'country_code' column
df_zz = df_notna_country.drop(df_notna_country[df_notna_country['country_code'] == 'ZZ'].index)

#Change all 'XK'/'Invalid Code' to 'Sao Tome and Principe' for 'country name' column

In [22]:
df_countries1 = df_zz[(df_zz['country_name'] == 'Invalid Code')]
df_countries1

,video_title,external_video_id,video_length,thumbnail_link,country_code,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added,country_name
3499,Why I Quit Data Science,SVtRsDhHlDk,334,https://i.ytimg.com/vi/SVtRsDhHlDk/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
7265,What It's Like to be a Socially Distanced Data...,lUUqrRgerd8,884,https://i.ytimg.com/vi/lUUqrRgerd8/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
7641,What Does a Data Scientist Actually Do?,XWetgrNas-k,387,https://i.ytimg.com/vi/XWetgrNas-k/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
16558,Scrape Twitter Data in Python with Twitterscra...,zF_Q2v_9zKY,378,https://i.ytimg.com/vi/zF_Q2v_9zKY/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
18066,Reviewing Your Data Science Projects - Episode...,mR2NCRgtLPE,943,https://i.ytimg.com/vi/mR2NCRgtLPE/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
18199,Reviewing Your Data Science Projects - Episode...,HJH0gfY6EUg,1054,https://i.ytimg.com/vi/HJH0gfY6EUg/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
31467,How to Go From Data Analyst to Data Scientist,EMq4PH7PCeA,403,https://i.ytimg.com/vi/EMq4PH7PCeA/hqdefault.jpg,XK,True,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
33508,How To Learn Programming for Data Science [3 S...,VN12ZPFsApM,486,https://i.ytimg.com/vi/VN12ZPFsApM/hqdefault.jpg,XK,True,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
35069,How I Would Learn Data Science in 2022 (If I H...,xpIFS6jZbe8,734,https://i.ytimg.com/vi/xpIFS6jZbe8/hqdefault.jpg,XK,True,0,0,0,0,1,0,NaN,NaN,0,Invalid Code
35251,How I Would Learn Data Science in 2021 (What H...,41Clrh6nv1s,549,https://i.ytimg.com/vi/41Clrh6nv1s/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
35658,How I Would Learn Data Science (If I Had to St...,4OZip0cgOho,516,https://i.ytimg.com/vi/4OZip0cgOho/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
36854,How I Learned Data Science,n3vw0M5RrPU,806,https://i.ytimg.com/vi/n3vw0M5RrPU/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
41997,"Data Science, Machine Learning, and AI: What's...",q8cEt8gj3zY,266,https://i.ytimg.com/vi/q8cEt8gj3zY/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
43922,Data Science Project from Scratch - Part 2 (Da...,GmW4F6MHqqs,1678,https://i.ytimg.com/vi/GmW4F6MHqqs/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
44121,Data Science Project from Scratch - Part 1 (Pr...,MpF9HENQjDo,448,https://i.ytimg.com/vi/MpF9HENQjDo/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
53792,3 Reasons You Should NOT Become a Data Scientist,m5pwx3hgtzM,373,https://i.ytimg.com/vi/m5pwx3hgtzM/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code
54222,3 Proven Data Science Projects for Beginners (...,8igH8qZafpo,454,https://i.ytimg.com/vi/8igH8qZafpo/hqdefault.jpg,XK,False,0,0,0,0,0,0,NaN,NaN,0,Invalid Code