In [210]:
#Q1: Which countries are most users based in?

#Q2: Do more likes, subscribers, and comments lead to more views for a video?

#Q3: Which videos led to higher subscriber count?

#Q4: What are the most common keywords used in video titles?

In [211]:
#Import essential ibraries and load data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os
os.getcwd()

'/Users/kioshi/Desktop/Me/Python/Projects/ken_jee_youtube_data'

In [212]:
#Load 4 individual csv files
df_agg_country_subs = pd.read_csv('Aggregated_Metrics_By_Country_And_Subscriber_Status.csv')
df_agg_vid_metrics = pd.read_csv('Aggregated_Metrics_By_Video.csv')
df_all_comm = pd.read_csv('All_Comments_Final.csv')
df_vid_perf_ovt = pd.read_csv('Video_Performance_Over_Time.csv')

In [213]:
#Lets do an EDA on 'df_agg_country_subs' to try to answer Q1
#Check data
df_agg_country_subs

,Video Title,External Video ID,Video Length,Thumbnail link,Country Code,Is Subscribed,Views,Video Likes Added,Video Dislikes Added,Video Likes Removed,User Subscriptions Added,User Subscriptions Removed,Average View Percentage,Average Watch Time,User Comments Added
0,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,HK,True,23,1,0,0,2,0,0.671870,39.640348,0
1,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,ME,True,3,0,0,0,0,0,0.498870,29.433333,0
2,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,RW,True,2,0,0,0,0,0,0.681780,40.225000,0
3,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,US,True,979,81,6,8,16,4,0.694854,40.996389,0
4,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,DE,False,75,3,0,1,0,0,0.661515,39.029373,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55287,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,MM,False,1,0,0,0,0,0,0.622642,33.000000,0
55288,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,SA,True,14,1,0,0,0,0,0.515569,27.325143,0
55289,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,DZ,False,2,0,0,0,0,0,0.782075,41.450000,0
55290,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,MX,False,11,0,0,0,0,0,0.636178,33.717455,0
55291,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,SR,True,1,0,0,0,0,0,0.985679,52.241000,0

In [214]:
#Rename columns to lower case & underscore to make it easier to code
rename = {'Video Title':'video_title', 'External Video ID':'external_video_id', 'Video Length':'video_length', 
          'Thumbnail link':'thumbnail_link', 'Country Code':'country_code', 'Is Subscribed':'is_subscribed', 'Views':'views', 
          'Video Likes Added':'video_likes_added', 'Video Dislikes Added':'video_dislikes_added', 'Video Likes Removed':'video_likes_removed', 
         'User Subscriptions Added':'user_subscriptions_added', 'User Subscriptions Removed':'user_subscriptions_removed', 
         'Average View Percentage':'average_view_percentage', 'Average Watch Time':'average_watch_time', 'User Comments Added':'user_comments_added'}
df_agg_country_subs = df_agg_country_subs.rename(columns=rename)
df_agg_country_subs

,video_title,external_video_id,video_length,thumbnail_link,country_code,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
0,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,HK,True,23,1,0,0,2,0,0.671870,39.640348,0
1,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,ME,True,3,0,0,0,0,0,0.498870,29.433333,0
2,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,RW,True,2,0,0,0,0,0,0.681780,40.225000,0
3,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,US,True,979,81,6,8,16,4,0.694854,40.996389,0
4,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,DE,False,75,3,0,1,0,0,0.661515,39.029373,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55287,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,MM,False,1,0,0,0,0,0,0.622642,33.000000,0
55288,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,SA,True,14,1,0,0,0,0,0.515569,27.325143,0
55289,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,DZ,False,2,0,0,0,0,0,0.782075,41.450000,0
55290,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,MX,False,11,0,0,0,0,0,0.636178,33.717455,0
55291,#66DaysOfData - 3 Reasons to Start!,sICJ6a2wX5g,53,https://i.ytimg.com/vi/sICJ6a2wX5g/hqdefault.jpg,SR,True,1,0,0,0,0,0,0.985679,52.241000,0

In [215]:
#Check data types
df_agg_country_subs.dtypes

video_title                    object
external_video_id              object
video_length                    int64
thumbnail_link                 object
country_code                   object
is_subscribed                    bool
views                           int64
video_likes_added               int64
video_dislikes_added            int64
video_likes_removed             int64
user_subscriptions_added        int64
user_subscriptions_removed      int64
average_view_percentage       float64
average_watch_time            float64
user_comments_added             int64
dtype: object

In [216]:
#Get description of each column
df_agg_country_subs.describe()

,video_length,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
count,55292.000000,55292.000000,55292.000000,55292.000000,55292.000000,55292.000000,55292.000000,53854.000000,53854.000000,55292.0
mean,896.678073,100.573157,4.239311,0.106055,0.175577,2.365279,0.053389,0.347821,205.297156,0.0
std,927.380801,1704.966002,65.291451,2.507351,3.601171,65.889539,0.766945,0.259734,206.542106,0.0
min,47.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,375.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.145948,85.442891,0.0
50%,545.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.320983,170.139725,0.0
75%,934.000000,27.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.486153,259.449958,0.0
max,5029.000000,285593.000000,9165.000000,399.000000,436.000000,9599.000000,103.000000,4.967797,5027.660000,0.0

In [217]:
#Find Null values
df_agg_country_subs.isnull().sum()

video_title                      0
external_video_id                0
video_length                     0
thumbnail_link                   0
country_code                   386
is_subscribed                    0
views                            0
video_likes_added                0
video_dislikes_added             0
video_likes_removed              0
user_subscriptions_added         0
user_subscriptions_removed       0
average_view_percentage       1438
average_watch_time            1438
user_comments_added              0
dtype: int64

In [218]:
#Display and analyze Null values in detail
df_null = df_agg_country_subs[df_agg_country_subs.isnull().any(axis='columns')]
df_null.head(10)

,video_title,external_video_id,video_length,thumbnail_link,country_code,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
103,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,NaN,True,1,0,0,0,0,0,0.071864,4.240,0
183,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,PR,False,0,0,0,0,0,0,NaN,NaN,0
193,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,NaN,False,0,0,0,0,0,0,NaN,NaN,0
211,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,EE,False,0,0,0,0,0,0,NaN,NaN,0
264,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,ME,False,0,0,0,0,0,0,NaN,NaN,0
274,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,NaN,False,0,0,0,0,0,0,NaN,NaN,0
364,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,PA,False,0,0,0,0,0,0,NaN,NaN,0
380,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,NaN,True,1,0,0,0,0,0,0.052855,20.719,0
437,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,IM,False,0,0,0,0,0,0,NaN,NaN,0
454,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,CU,False,0,0,0,0,0,0,NaN,NaN,0

In [219]:
#Examining the null values, we see inconsistency where there's null for 'Country Code', but values for 'Average View Percentage' & 'Average Watch Time' and vice versa.

#To have valid insights, we will drop the row if it has null values in all three columns mentioned above & create another df with null values from country code removed
df_notna = df_null.dropna(thresh=13)
df_notna.head(10)

,video_title,external_video_id,video_length,thumbnail_link,country_code,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
103,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,NaN,True,1,0,0,0,0,0,0.071864,4.240,0
183,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,PR,False,0,0,0,0,0,0,NaN,NaN,0
211,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,EE,False,0,0,0,0,0,0,NaN,NaN,0
264,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,ME,False,0,0,0,0,0,0,NaN,NaN,0
364,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,PA,False,0,0,0,0,0,0,NaN,NaN,0
380,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,NaN,True,1,0,0,0,0,0,0.052855,20.719,0
437,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,IM,False,0,0,0,0,0,0,NaN,NaN,0
454,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,CU,False,0,0,0,0,0,0,NaN,NaN,0
462,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,HN,False,0,0,0,0,0,0,NaN,NaN,0
481,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,CI,False,0,0,0,0,0,0,NaN,NaN,0

In [220]:
df_notna_country = df_null.dropna(subset=['country_code'])
df_notna_country.head(10)

,video_title,external_video_id,video_length,thumbnail_link,country_code,is_subscribed,views,video_likes_added,video_dislikes_added,video_likes_removed,user_subscriptions_added,user_subscriptions_removed,average_view_percentage,average_watch_time,user_comments_added
183,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,PR,False,0,0,0,0,0,0,NaN,NaN,0
211,ðŸŒ¶ Hot Topics in Tech: Data Science Explained #...,OtqQYqRNDGI,59,https://i.ytimg.com/vi/OtqQYqRNDGI/hqdefault.jpg,EE,False,0,0,0,0,0,0,NaN,NaN,0
264,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,ME,False,0,0,0,0,0,0,NaN,NaN,0
364,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,PA,False,0,0,0,0,0,0,NaN,NaN,0
437,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,IM,False,0,0,0,0,0,0,NaN,NaN,0
454,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,CU,False,0,0,0,0,0,0,NaN,NaN,0
462,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,HN,False,0,0,0,0,0,0,NaN,NaN,0
481,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,CI,False,0,0,0,0,0,0,NaN,NaN,0
496,git for Data Science Made Simple... (Hopefully),_0rHU6qAQe0,392,https://i.ytimg.com/vi/_0rHU6qAQe0/hqdefault.jpg,YE,False,0,0,0,0,0,0,NaN,NaN,0
816,Why is Balance Important in Data Science?,3ysXGYjvbSU,238,https://i.ytimg.com/vi/3ysXGYjvbSU/hqdefault.jpg,ZZ,False,0,0,0,0,0,0,NaN,NaN,0

In [221]:
#Verify null values decreased
df_notna.isnull().sum()

video_title                      0
external_video_id                0
video_length                     0
thumbnail_link                   0
country_code                   196
is_subscribed                    0
views                            0
video_likes_added                0
video_dislikes_added             0
video_likes_removed              0
user_subscriptions_added         0
user_subscriptions_removed       0
average_view_percentage       1248
average_watch_time            1248
user_comments_added              0
dtype: int64

In [222]:
#Verify no null values in 'Country Code' column
df_notna_country.isnull().sum()

video_title                      0
external_video_id                0
video_length                     0
thumbnail_link                   0
country_code                     0
is_subscribed                    0
views                            0
video_likes_added                0
video_dislikes_added             0
video_likes_removed              0
user_subscriptions_added         0
user_subscriptions_removed       0
average_view_percentage       1248
average_watch_time            1248
user_comments_added              0
dtype: int64

In [223]:
#Convert 'country_code' column to 'country name' for better readability

#Import pycountry library
import pycountry

def short_names(c):
    country = pycountry.countries.get(alpha_2=c)
    return country.name if country else 'NA'

df_country_name = df_notna_country.country_code.apply(short_names)